<div class="small-card-container">
  <div class="imagem-small-card">
    <img src="https://images.pexels.com/photos/16972565/pexels-photo-16972565.jpeg?_gl=1*a0gs5z*_ga*NzIxNDkyMjgwLjE3NTMxNDg2Mjk.*_ga_8JE65Q40S6*czE3NTMxNDg2MjkkbzEkZzEkdDE3NTMxNDg2MzkkajUwJGwwJGgw" alt="">
  </div>
  <div class="title-small-card">
    <h1>TITULO</h1>
  </div>
  <div class="text-small-card">
    <p>Evidentemente, o surgimento do comércio virtual deve passar por modificações independentemente do sistema de formação de quadros que corresponde às necessidades.</p>
  </div>
</div>
